body {
    font-family: "Libertinus Mono", monospace;
    letter-spacing: -1px;
    background-color: #a0a081ff;
    color: white;
}
nav {
    margin-top: 10px;
}
nav a{
    margin-left: 10px;
    margin-top: 10%;
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 15px;
    font-size: 16.75px;
} 

header {
    background-color: #fdf4e3ff;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    margin-left: -5px;
    padding-right: 5px;
}


#logo {
    width: 40%;
    margin-left: 30%;
}

h1 {
    margin-left: 15%;
}

p {
    margin-left: 35%;
    font-size: 20px;
}

#home_h1 {
    margin-top: 10px;
    margin-left: 34.5%;
    font-size: 45px;
}

#home_p {
    font-family:'Times New Roman', Times, serif;
    font-size: 26.5px;
    letter-spacing: 0.5px;
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

#songs_h1 {
    margin-top: 10px;
    margin-left: 39.5%;
    font-size: 45px;
}

#songs_p {
    font-family:'Times New Roman', Times, serif;
    font-size: 26.5px;
    letter-spacing: 0.5px;
    margin-left: 9%;
    text-align: center;
    width: 80%;
}

.container_left {
    margin-left: 5%;
    position: relative;
    width: 15%;
}

.container_right {
    margin-left: 80%;
    position: relative;
    width: 15%;
}

#alex {
    clip-path: circle(50%);
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 50px;
}

#matt {
    clip-path: circle(39%);
    width: 150%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: -69px;
    margin-top: 160px;
}

#jamie {
    clip-path: circle(50%);
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 160px;
}

#nick {
    clip-path: circle(39%);
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 160px;
}

#andy {
    clip-path: circle(39%);
    width: 150%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 160px;
    margin-left: -65px;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container_left:hover #alex {
    opacity: 0.3;
}


.container_right:hover #matt {
    opacity: 0.3;
}

.container_right:hover #jamie {
    opacity: 0.3;
}

.container_left:hover #nick {
    opacity: 0.3;
}

.container_left:hover #andy {
    opacity: 0.3;
}

.container_left:hover .middle {
    opacity: 1;
}
  
.container_right:hover .middle {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

#h2_alex {
    margin-left: 25.5%;
    margin-top: -13.5%;
    text-align: left;
    color: #0e0b0b;
    letter-spacing: 0.5px;
}

#p_alex {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 25.5%;
    color: #0e0b0b;
    text-align: left;
    width: 35%;
}

#h2_matt {
    margin-right: 25.5%;
    margin-top: -13.5%;
    text-align: right;
    color: #2d4058;
    letter-spacing: 0.5px;
}

#p_matt {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif;
    margin-right: 25.5%;
    color: #2d4058;
    text-align: right;
    width: -35%;
}

#h2_jamie {
    margin-right: 25.5%;
    margin-top: -13.5%;
    text-align: right;
    color: #5f3712;
    letter-spacing: 0.5px;
}

#p_jamie {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif;
    margin-right: 25.5%;
    color: #5f3712;
    text-align: right;
    width: -35%;
}

#h2_nick {
    margin-left: 25.5%;
    margin-top: -17.5%;
    text-align: left;
    color: #7a5f07;
    letter-spacing: 0.5px;
}

#p_nick {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 25.5%;
    color: #7a5f07;
    text-align: left;
    width: 35%;
}

#h2_andy {
    margin-left: 25.5%;
    margin-top: -13.5%;
    text-align: left;
    color: #5f1212;
    letter-spacing: 0.5px;
}

#p_andy {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 25.5%;
    color: #5f1212;
    text-align: left;
    width: 35%;
}

footer {
    margin-top: 300px;
    width: 95%;
    background-color: rgb(128, 134, 106);
    padding: 30px;
    padding-right: 65px;
    padding-left: 32px;
    padding-bottom: 100px;
}

.container {
    width: 12.5%;
 }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


.container #WPSTWIN {
    margin-left: 75px;
    position: relative;
    width: 100%;
}

.container #FWN {
    margin-top: -325px;
    margin-left: 325px;
    position: relative;
    width: 100%;
}

.container #H {
    margin-top: -306px;
    margin-left: 575px;
    position: relative;
    width: 100%;
}

.container #SIAS {
    margin-left: 825px;
    position: relative;
    width: 100%;
}

.container #AM {
    margin-left: 1075px;
    position: relative;
    width: 100%;
}

.container #TBHAC {
    margin-left: 1325px;
    position: relative;
    width: 100%;
}

.container #TC {
    margin-top: -306px;
    margin-left: 1575px;
    position: relative;
    width: 100%;
}

.container:hover {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

#WPSTWIN {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#FWN {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

#H {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

#SIAS {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

#AM {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

#TBHAC {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

#TC {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: -288px;
}

